<!DOCTYPE html>
<html lang="en">
  <%- include('partials/layout') %>
  <body>
    <header>
      <small>Tristan Varewijck & Browser Technologies</small>
      <div>
        <h1>Photo review</h1>
        <a href="photo/new-photo"
          ><p>Add photo</p>
          <span>
            <img src="/icons/collections_black_24dp.svg" alt="img-icon" />
          </span>
        </a>
      </div>
    </header>

    <div class="layout-changer">
      <div>
        <button class="layout-1" value="layout-1">
          <span
            ><img src="/icons/view_column_black_24dp.svg" alt="layout-1"
          /></span>
        </button>
        <button class="layout-2" value="layout-2">
          <span style="transform: rotate(-90deg)" class="material-icons">
            <img src="/icons/view_column_black_24dp.svg" alt="layout-2" />
          </span>
        </button>
      </div>
    </div>

    <main data-route="landing">
      <section class="layout-1">
        <% if(items.length === 0){ %>
        <p>You have not added any pictures to your collection yet</p>
        <% } else{ %> <% items.forEach(function(item){ %>
        <a class="layout-1" href="photo/<%=item.id%>">
          <img
            src="images/<%=item.image%>"
            alt="<%=item.image%>"
            width="250px"
            height="auto"
          />

          <span><p>More info</p></span>
        </a>
        <% }); %> <% } %>
      </section>
    </main>
  </body>
</html>
