/* font style  */
@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter-medium";
  src: url("../fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.woff") format("woff");
}

html {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%;
  background: var(--background);
  font-family: var(--font);
  color: var(--text);
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffff;
  --white: #ffffff;
  --text: #151515;
  --CTA: #3d9bf7;
  --font: "Inter", sans-serif, Tahoma, Verdana, sans-serif;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

a {
  text-decoration: none;
  color: var(--text);
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
}

header {
  position: relative;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-left: 2em;
  padding-right: 2em;
}

header div {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

header small {
  font-weight: 600;
  color: var(--CTA);
  font-size: 0.95em;
}

header a {
  background: var(--CTA);
  border-radius: 50px;
  padding: 1em 1.5em 1em 1.5em;
  box-shadow: 0px 4px 18px rgba(61, 155, 247, 0.35);
  transition: 0.2s ease-in-out;
  /* width: 100%; */
}

header a.secondary {
  box-shadow: none;
  background: none;
  border: 1px var(--CTA) solid;
}

header a.secondary {
  color: var(--CTA);
}

header a:hover {
  background: #1c89f7;
}

header a {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a p {
  margin: 0;
  padding: 0;
  margin-right: 15px;
}

/* layout changer  */
.layout-changer {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.layout-changer button:active,
:focus,
:hover ~ .layout-changer span img {
  fill: var(--CTA);
}

main[data-route="landing"] section {
  transition: transform 0.8s cubic-bezier(0.42, 0, 0.15, 1.4);
  background: var(--white);
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

main[data-route="landing"] section > p {
  text-align: center;
}

main[data-route="landing"] > div {
  margin-bottom: 5em;
}

.swiper1,
.swiper2,
.swiper3,
.swiper4 {
  min-width: 5em;
  min-height: 5em;
  position: relative;
}

.swiper-button-next1,
.swiper-button-prev1,
.swiper-button-next2,
.swiper-button-prev2,
.swiper-button-next3,
.swiper-button-prev3,
.swiper-button-next4,
.swiper-button-prev4 {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px;
  background: var(--CTA) !important;
  position: relative;
  /* left: 5% !important; */
  color: var(--white) !important;
  /* bottom: -5% !important; */
  box-shadow: 0px 4px 12px rgba(125, 125, 125, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-button-next1,
.swiper-button-next2,
.swiper-button-next3,
.swiper-button-next4 {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px;
  background: var(--CTA) !important;
  position: relative;
  /* left: 90% !important; */
  color: var(--white) !important;
  /* bottom: -5% !important; */
  box-shadow: 0px 4px 12px rgba(125, 125, 125, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99 !important;
}

.controls {
  width: 100;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.swiper-button-next1::after,
.swiper-button-prev1::after,
.swiper-button-next2::after,
.swiper-button-prev2::after,
.swiper-button-next3::after,
.swiper-button-prev3::after,
.swiper-button-next4::after,
.swiper-button-prev4::after {
  content: "" !important;
}

.swiper-pagination1,
.swiper-pagination2,
.swiper-pagination3,
.swiper-pagination4 {
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 250px;
  height: auto;
}

.slide-track {
  animation: scroll 5s linear infinite;
  display: flex;
  justify-content: space-between !important;
  width: auto !important;
}

.slide {
  height: auto;
  width: 250px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(250px * 16));
  }
}

/* main[data-route="landing"] section.layout-1::-webkit-scrollbar {
  display: none;
}

main[data-route="landing"] section a.layout-1 {
  scroll-snap-align: start;
  width: 800px;
  height: auto;
  margin: 20px;
  position: relative;
  text-align: center;
} */

/* layout 2 === column view */
main[data-route="landing"] section.layout-2 {
  flex-flow: row wrap;
  flex-direction: column;
  align-items: center;
}

main[data-route="landing"] section a.layout-2 {
  width: 500px;
  height: 450px;
  margin: 20px;
  position: relative;
  text-align: center;
}

main[data-route="landing"] section a img {
  width: 100%;
  height: 100%;
  /* border-radius: 3px; */
  object-fit: cover;
  box-shadow: 0 4px 32px 0 rgba(31, 38, 135, 0.15);
}

main[data-route="landing"] section a img:hover ~ span {
  opacity: 1;
  transform: translate(0, 0px);
}

main[data-route="landing"] section a span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.473);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  height: 40px;
  transform: translate(0, -20px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.2s ease-in;
}

main[data-route="landing"] section a span:hover {
  opacity: 1;
  transform: translate(0, 0px);
}

/* DETAIL PAGE */
main[data-route="detail"] figure div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

main[data-route="detail"] small {
  font-size: 0.75em;
  text-transform: uppercase;
  opacity: 67%;
  font-weight: 500;
}

main[data-route="detail"] h2 {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

main[data-route="detail"] img {
  /* width: 350px; */
  height: auto;
  margin-bottom: 0.4em;
  position: relative;
  text-align: center;
}

/* CREATE PAGE */
main[data-route="create"] section {
  padding: 1.5em 1.5em 1.5em 1.5em;
  background: var(--white);
  border-radius: 7px;
  box-shadow: 0 4px 32px 0 rgba(31, 38, 135, 0.15);
}
main[data-route="create"] section div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* border: 3px; */
  /* border: solid rgb(134, 134, 134) 1px; */
  border-radius: 2px;
  margin-bottom: 0.5em;
  padding: 0.5em 0.8em 0.5em 0.8em;
}

main[data-route="create"] input,
textarea {
  outline: none;
  border-radius: 4px;
  color: var(--text);
  border-width: 1px;
  border-color: rgb(224, 224, 224);
  height: 100%;
  width: 100%;
}

main[data-route="create"] input:required:focus:valid {
  background-color: #26de823d;
}
main[data-route="create"] input:focus:invalid {
  background-color: #fc5c6450;
}

main[data-route="create"] label {
  padding-bottom: 1.2em;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.67;
}

main[data-route="create"] button {
  padding-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 500;
  opacity: 0.67;
}

main[data-route="create"] h2 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0 0 1em 0;
}

main[data-route="create"] form button {
  margin-top: 0.75em;
  background: var(--CTA);
  border-radius: 50px;
  padding: 1em 1.5em 1em 1.5em;
  box-shadow: 0px 4px 18px rgba(61, 155, 247, 0.35);
  width: 100%;
  color: var(--white);
  font-weight: 500;
  font-size: 0.75em;
}

/* responsive elements */
@media only screen and (max-width: 950px) {
  main[data-route="landing"] section a.layout-1 {
    width: 600px;
  }
}

@media only screen and (max-width: 700px) {
  header {
    margin-bottom: 85px;
  }
  header div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  main[data-route="landing"] section {
    display: flex;

    align-items: center;
    padding: 1em;
  }

  main[data-route="landing"] section.layout-1 {
    scroll-snap-type: y mandatory;
    /* -webkit-overflow-scrolling: touch; */
  }

  main[data-route="landing"] section a.layout-1 {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    margin: 20px;
    position: relative;
    text-align: center;
  }

  main[data-route="landing"] section.layout-2 {
    justify-content: center;
  }

  main[data-route="landing"] section.layout-2 {
    background: var(--white);
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  main[data-route="landing"] section a.layout-2 {
    width: 250px;
    height: 300px;
    margin: 20px;
    position: relative;
    text-align: center;
  }
  .layout-changer {
    display: none;
  }
}

footer {
  height: 10em;
  background: var(--CTA);
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 2em;
}

/* supports checking */
/* source for finding methods browser supports: https://caniuse.com/ */

/* SHADOWS */
@supports (box-shadow: 0px 4px 18px rgba(61, 155, 247, 0.35)) {
  main[data-route="create"] form button,
  header a {
    box-shadow: 0px 4px 18px rgba(61, 155, 247, 0.35);
  }
}

@supports not (box-shadow: 0px 4px 18px rgba(61, 155, 247, 0.35)) {
  main[data-route="create"] form button,
  header a {
    border: 1px solid rgb(61, 155, 247);
  }
}

@supports (box-shadow: 0 4px 32px 0 rgba(31, 38, 135, 0.15)) {
  main[data-route="landing"] section a img,
  main[data-route="create"] section {
    box-shadow: 0 4px 32px 0 rgba(31, 38, 135, 0.15);
  }
}

@supports not (box-shadow: 0 4px 32px 0 rgba(31, 38, 135, 0.15)) {
  main[data-route="landing"] section a img,
  main[data-route="create"] section {
    border: 1px solid rgb(31, 38, 135);
  }
}

/* OBJECT-FIT */
@supports (object-fit: cover) {
  main[data-route="landing"] section a img {
    object-fit: cover;
  }
}

@supports not (object-fit: cover) {
  main[data-route="landing"] section a img {
    width: 250px;
    height: auto;
  }
}

/* BACKDROP-FILTER */
@supports (backdrop-filter: blur(4px)) {
  main[data-route="landing"] section a span {
    backdrop-filter: blur(4px);
  }
}

@supports not (backdrop-filter: blur(4px)) {
  main[data-route="landing"] section a span {
    background: var(--white);
  }
}

/* SCROLL SNAPPING */
@supports (scroll-snap-type: start) {
  .slider > a {
    display: none;
  }
}
